{% extends 'layout.html' %}

{%block content%}

{% with messages = get_flashed_messages() %}

  {% if messages %}
    {%for message in messages%}
      {{message}}
    {%endfor%}
  {% endif %}

{% endwith %}
<form method="post" action="/new">
  <input type="text" name="fullname" placeholder="fullname" />
  <input type="number" name="phone" placeholder="phone" />
  <input type="email" name="email" placeholder="email" />
  <button type="submit">Save</button>
</form>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <td><strong>{{contact.fullname}}</strong></td>
      <td>{{contact.phone}}</td>
      <td>{{contact.email}}</td>
      <td><a href="{{ url_for('contacts.update',id=contact.id) }}">Update</a></td>
      <td><a href="{{ url_for('contacts.delete', id=contact.id) }}">Delete</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%endblock%}